.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  /* background-color: #e07714; */
  background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scale(0.1) translate(-100%, -100%);

  }

  to {
    transform: rotate(360deg) scale(1) translate(0%, -50%);

  }
}

.unordered_list {
  list-style: none;
}

.image_div {
  margin-top: -19px;
}

.button_li {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: aquamarine;
}

.navbar {
  margin-top: -350px;
  width: 1519px;
  height: 150px;
  background-color: rgb(224, 224, 158);
}